body{
  text-align: center;
}
i{color: black;}
#action{
  position: absolute;
  top: 1em;
  right: 1em;
  display: none;
}
#action a{cursor: pointer;}
#camara{
  display: inline-block;
  position: relative;
}
#video,
#download-link{display: none;}
#snap{
  border-radius: 50%;
  background-color: rgba(200, 200, 200, 0.6);
  border: 5px solid #fff;
  position: absolute;
  bottom: 2.5em;
  width: 100px;
  height: 100px;
  left: calc(50% - 50px);
  cursor: pointer;
}

#stickers{
  width: 100%;
  height: calc(100% - 120px);
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding-top: 100px;
  display: none;
}

.sticker{
  display: inline-block;
  margin-top: 30px;
}
